* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

:root {
  --main-color: #0d1117;
  --assistant-color: #161b22;
  --input-font-color: #c2c3c5;
  --border-color: #30363b;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--main-color);
  color: white;
}

.user-form {
  background-color: var(--assistant-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 75%;
  max-width: 500px;
  border-radius: 0.5rem;
  position: relative;
}

.user-form input {
  border: 1px solid var(--border-color);
  background-color: var(--main-color);
  padding: 1rem 1rem;
  font-size: 16px;
  border-radius: 0.3rem;
  width: 100%;
  color: white;
}

.user-form input:focus {
  outline: none;
}

.user-form button {
  position: absolute;
  right: 1.5rem;
  font-size: 21px;
  border: none;
  background-color: var(--main-color);
  color: #fff;
  cursor: pointer;
  padding: 5px;
}

#main {
  margin-top: 1rem;
  padding: 20px;
}

.card {
  width: 350px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid var(--border-color);
  background-color: var(--assistant-color);
  box-shadow: 6px 10px 6px rgb a(0 0 0 0.2);
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(92, 4, 255, 0.328);
}

.user-image {
  width: 200px;
  border-radius: 50%;
}

.user-info {
  padding: 1rem;
}

.user-name {
  padding: 10px 0;
  border-bottom: 1px solid var(--border-color);
}

h2 {
  color: #fff;
  letter-spacing: 5px;
  text-transform: capitalize;
}

small {
  font-weight: bold;
  color: var(--input-font-color);
  letter-spacing: 1.5px;
}

p {
  color: #eee;
  text-align: justify;
}

ul {
  padding: 1rem 0;
  display: flex;
  justify-content: space-evenly;
}

ul li {
  list-style: none;
  color: #fff;
  background-color: #40454e;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem;
  border-radius: 0.4rem;
}

ul li i {
  color: #3f90e7;
  margin: 0 3px;
}

.repos {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  align-items: center;
  font-size: 16px;
}

.repos a {
  display: flex;
  gap: 5px;
  text-decoration: none;
  padding: 4px 8px;
  color: #3696ff;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  letter-spacing: 2px;
  box-shadow: 0 0 10px rgba(127, 124, 124, 0.2);
}

.warning {
  width: 100%;
}

.warning p {
  text-align: center;
  font-size: 18px;
}
